<h3>Login to access/modify customer details</h3>
<hr>

<div class="row">
    <div class="col">
        <form>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" autofocus class="form-control" id="email" name="email" [(ngModel)]="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="passwd" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="passwd" name="passwd" [(ngModel)]="password">
                </div>
            </div>

            <button (click)="login()" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col"></div>
</div>