<h3>List of customers</h3>
<hr>
<!--
<button [ngClass]="{'btn-danger': pageNum===1}" [disabled]="pageNum===1" class="btn btn-primary" (click)="gotoPage()" >First</button> &nbsp;
<button [ngClass]="{'btn-danger': pageNum===1}" [disabled]="pageNum===1" class="btn btn-primary" (click)="gotoPage('prev')">Previous</button> &nbsp;

Showing page {{ pageNum }} of {{ lastPage }} &nbsp;

<button [ngClass]="{'btn-danger': pageNum===lastPage}" [disabled]="pageNum===lastPage" class="btn btn-primary" (click)="gotoPage('next')">Next</button> &nbsp;
<button [ngClass]="{'btn-danger': pageNum===lastPage}" [disabled]="pageNum===lastPage" class="btn btn-primary" (click)="gotoPage('last')" >Last</button>
-->

<button [ngClass]="getBtnClass('first')" [disabled]="pageNum===1" class="btn btn-primary" (click)="gotoPage()" >First</button> &nbsp;
<button [ngClass]="getBtnClass('prev')" [disabled]="pageNum===1" class="btn btn-primary" (click)="gotoPage('prev')">Previous</button> &nbsp;

Showing page {{ pageNum }} of {{ lastPage }} &nbsp;

<button [ngClass]="getBtnClass('next')" [disabled]="pageNum===lastPage" class="btn btn-primary" (click)="gotoPage('next')">Next</button> &nbsp;
<button [ngClass]="getBtnClass('last')" [disabled]="pageNum===lastPage" class="btn btn-primary" (click)="gotoPage('last')" >Last</button>

<br><br>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Sl no</th>
            <th>Name of the company</th>
            <th>Contact person</th>
            <th>Job title</th>
            <th>City</th>
            <th>Phone number</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cust of customers; index as i">
            <td>{{ i + 1 }}</td>
            <td class="app-clickable" [routerLink]="['/view-details', cust.CUSTOMER_ID]">{{ cust.COMPANY_NAME }}</td>
            <td>{{ cust.CONTACT_NAME }}</td>
            <td>{{ cust.CONTACT_TITLE }}</td>
            <td>{{ cust.CITY }}</td>
            <td>{{ cust.PHONE }}</td>
        </tr>
    </tbody>
</table>

<!-- round brackets arount an attribute means function binding -->
<!-- 'click' here is an event -->
<!-- <button class="btn btn-primary" (click)="loadMore()">Load more</button> -->
