<div class="row">
    <div class="col-md-2"></div>
    <div class="col">
        
        <img src="/assets/images/vinod.jpeg" alt="Vinod Kumar Kayartaya" class="img-thumbnail">

        <h1>Angular demo application</h1>
        <p>Powered by Angular 10.0.4</p>
        <p>Developed by <a href="https://vinod.co" target="_blank">Vinod Kumar Kayartaya</a></p>
        <p>Email: <a href="mailto:vinod@vinod.co">vinod@vinod.co</a></p>
        <p>Phone: +91 97314 24784</p>

    </div>
    <div class="col-md-2"></div>
</div>