<h3>{{ title }}</h3>
<p>{{ subtitle }}</p>
<hr>

<h5>Some of the commonly used built-in pipes:</h5>
<ul>
    <li>uppercase</li>
    <li>lowercase</li>
    <li>json</li>
    <li>currency</li>
    <li>date</li>
</ul>

<p>
    today is {{ today | date: 'EEEE MMMM d, yyyy' }}
</p>

<p>
    today is {{ today | date: 'yyyy-MM-dd hh:mm:ss a' }}
</p>

<p>
    title in uppercase is {{ title | uppercase }}
</p>

<p>
    title in lowercase is {{ title | lowercase }}
</p>

<div>
    p1 is 

    <pre>{{ p1 | jsonify : 4 }}</pre>

</div>

<div>
    Amount is {{ amount | currency : 'INR'}}
</div>